<div class="container">
  <h2 class="page-title">
    New Comment
  </h2>
  <ul class="errorMessages">
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <%= form_with(model: @comment, url: board_task_comments_path(@task.board, @task), local: true) do |f| %>
    <div>
      <%= f.text_area :content %>
    </div>
    <%= f.submit 'Submit', class: 'btn-primary' %>
  <% end %>
</div>
