<div class="container">
  <h2 class="page-title"><%= @task.name %></h2>
  <% if @task.eyecatch.attached? %>
    <div class="task_image">
      <%= image_tag @task.eyecatch %>
    </div>
  <% end %>
  <div class="task_description">
    <%= @task.description %>
  </div>
</div>
