<div class="container">
  <h2 class="page-title">All Boards</h2>
  <div class="boards">
    <% @boards.each do |board| %>
      <%= render 'board', board: board %>
    <% end %>
    <%= link_to new_board_path do %>
      <div class="add-new-board">
        <p class="add-new-board_text">+ Add new board</p>
      </div>
    <% end %>
  </div>
</div>
