@import "./variables";

.btn-primary {
  background-color: $btn-color;
  border: none;
  width: calc(100% - 26px * 2);  // containerのpadding * 2を引く
  text-align: center;
  color: white;
  padding: 8px 0;
  font-weight: bold;
  border-radius: 4px;
  font-family: $font-family;
  position: fixed;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
