@import "./variables";

input,
select {
  &.text {
    width: 100%;
    margin-top: 8px;
    padding: 16px 24px;
    border: none;
    border-radius: 10px;
    background: $contents-bg-color;
    font-family: $font-family;
  }
}

.field {
  margin-top: 33px;
}

.eyecatch {
  width: 100%;
  margin-top: 8px;
  font-family: $font-family;
}

.eyecatch_message {
  font-size: 12px;
  opacity: 0.7;
}

.deadline {
  margin-top: 8px;
  font-family: $font-family;
}

label {
  font-size: 18px;
  font-weight: 400;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  height: 203px;
  resize: vertical;
  border: none;
  border-radius: 10px;
  background: $contents-bg-color;
  font-family: $font-family;
}

.errorMessages {
  margin-top: 10px;
}
